*{
    padding: 0;
    margin: 0;
}
.nav_content{
    display: flex;
    background-color: rgb(163, 250, 221);

}
.nav_content ul li{
    list-style: none;
}
.nav_content ul a{
    text-decoration: none; 
}
.banner_btn{
    padding: 10ox 12px;
   
}
